
.idea/workspace.xml

.idea/vcs.xml

gsonDB.iml

target/classes/gsonDB/document/DocumentHandler.class

target/classes/gsonDB/index/IndexKeyEntry.class

target/classes/gsonDB/index/IndexHandler.class

*.class

.idea/vcs.xml

.idea/workspace.xml

*.xml
